# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp
*.key

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

demo-magic.sh
get_helm.sh
distroless/server
# Dependency directories (remove the comment below to include it)
# vendor/
